<%- include('includes/head.ejs')%>
<div id="token" class="d-none"><%if(token){%><%=token%><%}%></div>
<div class="container">
    <div class="row align-items-center">
        <img class="col-1 img-fluid fw-bold" src="./images/NASA-Logo-Large.png" alt="">
        <div class="col">Created by <cite>Yair Dor and Michal Bucks</cite></div>
    </div>
    <div class="row">
        <h1 class="col-12 text-center">NASA Social Network</h1>
        <div class="col-12 text-center h3 title-text">Hello<%if(username){ %> <cite class="title-text"><%-username-%></cite><%}%></div>
        <form class="col-12 text-center" action="/home/logout">
            <button class="btn btn-danger" type="submit">Logout</button>
        </form>
    </div>
    <div class="row text-center" id = "afterLogin">
        <div class="col-12" id ="welcome"></div>
        <form action="https://api.nasa.gov/planetary/apod" id="dateForm" class="col-12">
            <label class="h5 col" for="pictureDate">Please choose a picture date:</label>
            <input class = "col" type="date" id="pictureDate" name="pictureDate">
            <button class="btn btn-primary mt-2 col" type="submit">Send</button>
        </form>
    </div>
    <div class="row">
        <ol id="content-list" class="list-group col-12"></ol>
<!--        <button id="show-more-button" class="col-12 my-2" style="display: none">Show More</button>-->
        <button id="show-more-button" class="col-12 btn btn-primary my-2 d-none">Show More</button>
    </div>
</div>
<div class="spinner-background" id="spinner-background">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
<button type="button" class="btn btn-primary d-none" data-bs-toggle="modal" data-bs-target="#errorModal" id="errorModalBtn">
</button>
<div class="modal" tabindex="-1" id="errorModal" aria-labelledby="contentErrorModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="contentErrorModal">Error</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="closeModal1"></button>
            </div>
            <div class="modal-body text-danger h4" id="errorMessage"><%if(error){%><%-error%><%}%>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="closeModal2">Close</button>
            </div>
        </div>
    </div>
</div>
<script src="/javascripts/homeJS.js"></script>
<%- include('includes/end.ejs')%>